.main-title {
  text-align: center;
  font-size: 5rem;
}

.info-player {
  margin: 0;
}

.info-content {
  height: 10rem;
  position: relative;
}
.circle-player {
  text-align: right;
}

/****** STYLES FOR ICONS ******/
.icon-auto {
  @extend .expander;
  &:hover {
    cursor: pointer;
  }
}

.fa-large {
  font-size: 7em;
}

.icon-content {
  position: relative;
  margin-right: 3rem;
}

.fa-times-position {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: .3em;
}

.fa-times-color {
  color: $color_cross;
}

.fa-circle-color {
  color: $color_circle;

}

/****** STYLES FOR BOARD ******/
.square {
  width: 11em;
  height: 11em;
}

.border-vertical {
  border-right: $border;
  border-left: $border;
}

.border-horizontal {
  border-top: $border;
  border-bottom: $border;
}

/****** STYLES FOR BUTTON ******/
.button-auto {
  @extend .expander;
  &:hover {
    cursor: pointer;
  }
}

.button-background {
  border: none;
  background: none;
  &:hover, &:focus {
    outline: 0;
  }
}

#game-board {
  position: relative;
}

#disable-layer {
  display: none;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: .00;
  filter: alpha(opacity=00);
}

.current-player {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  color: $color_black_light;
}

.show-winner {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  color: $color_black_light;
}

.play-again {
  display: block;
  border: 1px solid $color_button;
  background: $color_button;
  color: white;
  cursor: pointer;
  margin: 2rem auto;
  padding: .4rem;
  min-width: 7rem;
  font-size: 1.2em;
  font-weight: 500;
  transition: all 0.3s ease 0s;
  &:hover {
    background: $color_button_dark;
  }
}